# Android files   #
###################
bin/
gen/
local.properties

#   gradle files  #
###################
.gradle
build

#      IntelliJ       #
#######################
.idea
*.iml
*.iws
*.ipr
classes
gen-external-apklibs

#       Eclipse       #
#######################
.classpath
.project
.settings

# binary files    #
###################
*.pyc

# OS X files      #
###################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

#     Maven files     #
#######################
target/

#     Robolectric     #
#######################
tmp


# Proguard folder by Eclipse
#######################
proguard/

#    Crashlytics      #
#######################
com_crashlytics_export_strings.xml